/* HEADER */
//Section
.contenedorHeader{
    width: 100%;
    height: 70px;
    @include flex(row, end, center, wrap);
    padding: 10px; 
}

/* Titulo */
.contTitulosJS{
    @include flex(column, space-evenly, center, nowrap);
    background-image: url(../img/header1.png);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 300px 30px;
    width: 100%;
    height: inherit;
}
.tituloIndex{
    font-size: 8rem;
    font-family: $font-especial;
    padding: 20px 10px;
    color: white;
}
.subTituloIndex{
    font-size: $text-big;
    font-family: $font-title;
    padding: 20px 10px;
    color: rgba(255, 255, 255, 0.89);
}
.divTitulos{
    @include flex(column, center, center, nowrap)
}

/* Mesa */
.contenedorMesa{
    width: 80%;
    height: 80%
}
.contMesaForm{
    @include flex(column, center, center, nowrap);
    padding: 40px;
    border-radius: 3%;
    background-color: rgba($color: #c7c7c7, $alpha: 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logoForm{
    width: 40px;
    height: 40px;
}
.logoForm{
    transform: scale(1.3);
    transition: 2s;
}
.contTextImput{
    margin: 20px 10px;
    width: 80%;

}
.textImputMesa{
    font-size: 1.5rem;
    font-family: $font-title;
}
.btnFormMesa{
    color: azure;
    font-size: 2rem;
    font-family: $font-title;
    background: linear-gradient(350deg, rgba(255,255,255,1) 0%, rgba(181,123,46,1) 46%); 
    transition: 0.5s;
}
.btnFormMesa:hover{
    transform: scale(1.3);
}
.displayNone{
    display: none;
}

/* Productos elegidos por el usuario */
//contenedor
.prodPedidos{
    @include flex(column, center, center, wrap);
    padding: 80px 20px;
    display: none;
}
.contProdPedidos{
    @include flex(column, center, center, wrap);
    padding: 20px 10px;
}
.contTituloPedido{
    text-align: center;
    margin-bottom: 30px;
}
.tituloPedidoCliente{
    font-size: 2rem;
    font-family: $font-title;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.btnVerPedido{
    font-size: 2rem;
    font-family: $font-title;
    margin: 10px !important;
    color: white;
    background: linear-gradient(4deg, rgba(173,171,171,1) 0%, rgba(0,100,228,1) 100%); 
}
.btnVerPedido:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
.btnPedido{
    @include flex(row, space-evenly, center, nowrap);
}

/* PRODUCTOS API EXTERNA */
//Contenedor productos
.contProductosApi{
    padding: 200px 0px;
    background-color: rgb(24, 24, 24);
}
.contProdApi{
    display: flex;
    padding: 10px 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: rotate(2deg);
}
.cardProdApi{
    margin: 10px;
    width: 200px;
    height: 150px;
}
.imgApi{
    width: 100%;
    height: 100%;
    position: absolute;
}

.contApiImg{
    display: flex;
    object-fit: cover;
    position: relative;
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 30px 20px;
    transition: 1s;
}
.contApiImg:hover{
    transform: scale(1.2);
    transition: 1s;
}
.contApiImg:hover .capaIndex{
    @include flex(column,center,center,wrap);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 6px;
    transition: 1s;
}
.contApiImg:hover .textTitleApi{
    color: white;
    font-size: 2rem;
    font-family: $font-especial;
    transition: 2s;
}
.contApiImg:hover .textIngredientesApi{
    color: white;
    font-size: 1.3rem;
    font-family: $font-title;
    transition: 2s;
}
.tituloGaleria{
    font-size: 8rem;
    font-family: $font-especial;
    padding-bottom: 40px;
    transform: rotate(2deg);
    color: $colorSecundario;
}

/* PRODUCTOS */
//Contenedor section
.contenedorProductos{
    @include flex(row, center, center, wrap);
    padding: 100px 50px;
}

//productos 
.classProductos{
    @include flex(row, center, center, wrap);
}

/* FOOTER */
//contenedor
.footerBG{
    background-image: url(../img/footer.png);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;

}
.contFooter{
    @include flex(row, space-evenly, center, wrap);
}
.footerColumn{
    @include flex(column, space-evenly, center, nowrap);
    padding: 50px 20px;
}
.logoFooter{
width: 110px;
height: 110px;
}
.tituloLogo{
    font-size: 4rem;
    font-family: $font-especial;
    color: white;
}
.titulosFooter{
    color: white;
    font-size: 1.8rem;
    font-family: $font-title;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 10px;
    margin: 20px 30px;
}
.infoFooter{
    color: white;
    font-size: 1.2rem;
}
.infoFooter:hover{
    transform: scale(1.2);
    transition: 1s;
}
.linkFooter{
    text-decoration: none;
    color: white;
}
.linkFooter:hover{
    color: $colorSecundario;
}
.iconoFooter{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}