/* HEADER */
//Section
.contenedorHeader{
    width: 100%;
    height: 70px;
    @include flex(row, end, center, wrap);
    padding: 10px; 
}

/* Titulo */
.tituloIndex{
    font-size: 8rem;
    font-family: $font-especial;
    padding: 20px 10px;
}
.subTituloIndex{
    font-size: $text-big;
    font-family: $font-title;
    padding: 20px 10px;
}

/* Mesa */
//.contenedorMesa{}

/* PRODUCTOS */
//Contenedor section
.contenedorProductos{
    @include flex(column, center, center, wrap);
    padding: 100px 50px;
}

//productos 
.classProductos{
    @include flex(row, center, center, wrap);
}