nav{
    div{
        ul{
            li{
                a{
                    font-size: 1.8rem !important;
                    font-family: $font-title;
                }
            }
            
        }
    }
};

nav{
    div{
        ul{
            li{
                a:hover{
                    color: $colorPrimario !important;
                }
            }
        }
    }
}
.displayNav{
    display: none;
}
.contenedorNav{
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    color: rgba($color: #ffefd2, $alpha: 0.7);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-wrap: nowrap;
}
.centerContent{
    justify-content: center;
}
.logoNav{
    width: 70px;
    height: 70px;
}
//botones
.btnBurguer{
    display: flex;
    justify-content: end;
    color: $colorSecundario;
}
.btnDropDown{
    font-family: $font-title;
    font-size: 1.5rem;
    text-align: center;
    color: $colorT;
    text-decoration: none;
    margin: 0px 10px;
}
.btnDropDown:hover{
    color: $colorPrimario;
    transition: 1s
}
/* fILTROS */
//contenedor filtros
.contentFiltros{
    @include flex(column, center,start,wrap);
    padding: 100px 30px;
}
.contentInput{
    padding: 10px 20px;
}
.inputBuscar{
    font-size: 1.8rem;
    font-family: $font-principal;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.filtroBuscador{
    display: none !important;
}
