nav{
    div{
        ul{
            li{
                a{
                    font-size: 1.8rem !important;
                    font-family: $font-title;
                }
            }
            
        }
    }
};

nav{
    div{
        ul{
            li{
                a:hover{
                    color: $colorPrimario !important;
                }
            }
        }
    }
}
.contenedorNav{
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    background-color: rgba($color: #ffffff00, $alpha: 1.0);
}
.logoNav{
    width: 70px;
    height: 70px;
}

