//VARIABLES GLOBALES

//Vars tamaños textos
$text-title: 4.5rem;
$text-subtitle: 3rem;
$text-big: 2.5rem;
$text-mid: 1.8rem;
$text_small: 1.2rem;

//vars fonts
$font-principal: 'Roboto', sans-serif;
$font-title: 'Poppins', sans-serif;
$font-especial: 'play', sans-serif;

//vars colores
$colorT: rgba(20, 10, 20, 1.0);
$colorNB: rgba(200,200,200,1.0);
$colorW: rgba(255, 255, 255, 1.0);
$colorB: rgba(0, 0, 0, 1.0);
$colorRC: rgba(215, 75, 70, 1.0);
$colorR: rgba(215, 46, 40, 1.0);
$colorGC: rgba(71, 71, 71, 1.0);
$colorGO: rgba(54, 54, 54, 1.0);

//vars spacings
$spacing-large: 6rem;
$spacing-mid: 3rem;
$spacing-small: 2rem;
$spacing-min: 1.5rem;
